machine:
  environment:
    DOCKER_IMAGE_NAME: spagno/iscdhcpd-exporter
    DOCKER_TEST_IMAGE_NAME: quay.io/prometheus/golang-builder:1.8-base
    REPO_PATH: github.com/spagno/iscdhcpd_exporter
  pre:
    - sudo curl -L -o /usr/bin/docker 'https://s3-external-1.amazonaws.com/circle-downloads/docker-1.9.1-circleci'
    - sudo chmod 0755 /usr/bin/docker
    - sudo curl -L 'https://github.com/aktau/github-release/releases/download/v0.6.2/linux-amd64-github-release.tar.bz2' | tar xvjf - --strip-components 3 -C $HOME/bin
  services:
    - docker

dependencies:
  pre:
    - make promu
    - docker info
  override:
    - promu crossbuild
    - ln -s .build/linux-amd64/iscdhcpd_exporter iscdhcpd_exporter
    - |
      if [ -n "$CIRCLE_TAG" ]; then
        make docker DOCKER_IMAGE_NAME=$DOCKER_IMAGE_NAME DOCKER_IMAGE_TAG=$CIRCLE_TAG
      else
        make docker DOCKER_IMAGE_NAME=$DOCKER_IMAGE_NAME
      fi
  post:
    - mkdir $CIRCLE_ARTIFACTS/binaries/ && cp -a .build/* $CIRCLE_ARTIFACTS/binaries/
    - docker images

test:
  override:
    - docker run --rm -t -v "$(pwd):/app" "${DOCKER_TEST_IMAGE_NAME}" -i "${REPO_PATH}" -T

deployment:
  hub_branch:
    branch: master
    owner: spagno
    commands:
      - docker login -e $DOCKER_EMAIL -u $DOCKER_LOGIN -p $DOCKER_PASSWORD
      - docker push $DOCKER_IMAGE_NAME
  hub_tag:
    tag: /^v[0-9]+(\.[0-9]+){2}(-.+|[^-.]*)$/
    owner: spagno
    commands:
      - promu crossbuild tarballs
      - promu checksum .tarballs
      - promu release .tarballs
      - mkdir $CIRCLE_ARTIFACTS/releases/ && cp -a .tarballs/* $CIRCLE_ARTIFACTS/releases/
      - docker login -e $DOCKER_EMAIL -u $DOCKER_LOGIN -p $DOCKER_PASSWORD
      - |
        if [[ "$CIRCLE_TAG" =~ ^v[0-9]+(\.[0-9]+){2}$ ]]; then
            docker tag "$DOCKER_IMAGE_NAME:$CIRCLE_TAG" "$DOCKER_IMAGE_NAME:latest"
        fi
      - docker push $DOCKER_IMAGE_NAME
